extends layout

block content
    h2 More information about: #{title}

    div.information-container
        p Name: #{category.name}
    hr
    div.link-containter
        a(href="/inventory/categories") Back
        a(href=category.url+"/update") Update Category
        a(href=category.url+"/delete") Delete Category