extends layout 

block content 
    h2 #{title}
    
    p #[strong Do you really want to delete #{item.name}?]

    form(method="POST")
        div.form-group  
            input#itemid(type="hidden", name="itemid", value=item._id)
        div.form-group
            label(for="password") Secret password:
            input#password(name="password", required, type="text")
        button(type="submit") Delete
    
    if errors
        ul 
            for error in errors 
                li!= error.msg