doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.sidebar-container
      block sidebar
        ul.sidebar-nav
          li
            a(href="/inventory") Home
          li
            a(href="/inventory/items") All items
          li
            a(href="/inventory/places") All places
          li
            a(href="/inventory/finders") All finders
          li
            a(href="/inventory/categories") All categories
          li
            hr
          li
            a(href="/inventory/item/create") Create new Item
          li
            a(href="/inventory/place/create") Create new Place
          li
            a(href="/inventory/finder/create") Create new Finder
          li
            a(href="/inventory/category/create") Create new Category

    div.main-content-container
      block content
